language: python

python:
    - "2.6"
    - "2.7"

before_install:
    - pip install -r requirements.txt
    - pip install coveralls
    - pip install pytest-cov

install:
    - python setup.py -q install

after_success:
    - coveralls

script:
    - coverage run --source=konlpy -m py.test -k 'not mecab'
