[distutils]
index-servers =
    pypi
    pypitest

[pypitest]
repository: https://test.pypi.org/legacy/
username: <username>
password: <password>

[pypi]
repository: https://pypi.org/
username: <username>
password: <password>
