@import url(flasky.css);

body {
    font-family: Georgia, serif;
}

a.reference.image-reference {
    border-bottom: none;
    display: inline-block;
}

a.reference.image-reference:hover {
    border-bottom: none;
}

table.docutils {
    margin: 15px 0;
}

table.footnote {
    margin: 10px 0 -11px;
}

table.footnote td.label {
    width: 25px;
}

.first {
    margin: 0;
}

.github {
    width: 150px;
    position: fixed;
    right: 0;
    top: 0;
}

.license {
    background-color: rgba(86,196,187,0.4);
    border: 1px solid rgb(86,196,187);
    font-size: 70%;
    margin: 0 2px;
    padding: 1px 3px;
}

.license:hover {
    background-color: rgba(86,196,187,0.7);
}
