@import url(flasky.css);

body {
    font-family: Georgia, serif;
}

.first {
    margin: 0;
}

table.docutils {
    margin: 15px 0;
}

table.footnote {
    margin: 10px 0;
}

table.footnote:nth-of-type(1) {
    margin: 50px 0 10px;
}

table.footnote td.label {
    width: 25px;
}
